<%- include('partials/header') %>

<form method="POST">
    <p>
        <label for="login">Login</label>
    </p>
    <p>
    <p>
        <label>Email</label>
        <input type="email" name="email" placeholder="Chuck@oclock.io" value="">
    </p>
    <p>
        <label>Password</label>
        <input type="password" name="password" placeholder="somethingstrong" value="">
    </p>
    <p>
        <button>Valider</button>
    </p>
</form>

<%- include('partials/footer') %>
